@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #17162E;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-top: 62px;
}

.container-input {
    position: relative;
    display: flex;
    margin-top: 48px;
    opacity: 20%;
    color: #fff;
    width: 634px;
    height: 74px;
}

.container-input input {
    width: 100%;
    padding: 26px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    outline: none;
}

#lupa {
    position: absolute;
    left: 600px;
    top: 28px;
}

::placeholder {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    color: #8A8A8A;
    line-height: normal;
}

.container-favoritos {
    display: inline-flex;
    margin-top: 30px;
    gap: 11px;
}

.container-favoritos input {
    border-radius: 4px;
}

.container-favoritos h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie:first-child {
    margin-top: 64px;
}
.movie {
    position: relative;
    display: flex;
    width: 1224px;
    /* min-height: 201px; */
    height: 201px;
    background-color: #1D1C3B;
    margin-bottom: 48px;
    border-radius: 4px;
}

.frame {
    display: flex;
    width: 139px;
    height: 139px;
    /* margin: 24px 1039px 38px 46px; */
    margin: 24px 64px 38px 46px;
}

.image {
    width: 139px;
    height: 139px;
    border-radius: 800px;
}

.img-batman {
    background: url(assets/img/batman.png) 50% no-repeat;
    background-size: cover;
}
.img-avatar {
    background: url(assets/img/avatar.png) 50% no-repeat;
    background-size: cover;
}
.img-avengers {
    background: url(assets/img/avengers.png) 50% no-repeat;
    background-size: cover;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 268px;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-right: 78px;
}

.sub-titulo {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.sub-titulo div {
    display: flex;
    gap: 15px;
}

.descricao {
    width: 592px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #ACACAC;
    font-size: 18px;
    font-weight: 500;
    line-height: 177%;
    /* margin-right: 37px; */
    margin: 30px 37px 43px auto;
}