@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #17162E;
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-top: 62px;
}

.container-input {
    position: relative;
    display: flex;
    margin-top: 48px;
    opacity: 20%;
    color: #fff;
    width: 634px;
    height: 74px;
}

.container-input input {
    width: 100%;
    padding: 26px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    outline: none;
}

#lupa {
    position: absolute;
    left: 600px;
    top: 28px;
}

::placeholder {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    color: #8A8A8A;
    line-height: normal;
}

.container-favoritos {
    display: inline-flex;
    margin-top: 30px;
    gap: 11px;
}

.container-favoritos input {
    background-color: #706EA8;
    color: #706EA8;
    border-radius: 4px;
}

.container-favoritos h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.movie {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1224px;
    height: 201px;
    background-color: #1D1C3B;
    margin-top: 64px;
    border-radius: 4px;
}

.frame {
    position: absolute;
    display: flex;
    width: 204px;
    height: 153px;
    left: 14px;
    top: 24px;
    border: 1px solid yellow;
}

.image {
    margin: auto;
    width: 139px;
    height: 139px;
    background-image: url(61a31a31b562cf155400a3f17676e54f.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 800px;
    border: 1px solid purple;
}

.titulo {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    left: 249px;
    border: 1px solid blue;
}

.sub-titulo {
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.descricao {
    position: absolute;
    width: 592px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #ACACAC;
    font-size: 18px;
    font-weight: 500;
    line-height: 177%;
    right: 37px;
}